{% extends 'base.html' %}

{% block content %}

<h2>Books List</h2>
<form method="GET" action="{{ url_for('books_page') }}">

    <input
        type="text"
        name="search"
        placeholder="Search books"
        value="{{ request.args.get('search','') }}"
    >

    <select name="category">

        <option value="">All Categories</option>

        {% for category in categories %}
        <option
            value="{{ category }}"
            {% if category == selected_category %}
            selected
            {% endif %}
        >
            {{ category }}
        </option>
        {% endfor %}

    </select>

    <button type="submit">
        Search
    </button>

</form>
<form method="GET" action="{{ url_for('books_page') }}" class="mb-3">

    <div class="row">

        <div class="col-md-4">
            <select name="sort_by" class="form-control">

                <option value="id">Default</option>

                <option value="title">
                    Sort By Title
                </option>

                <option value="price">
                    Sort By Price
                </option>

                <option value="year">
                    Sort By Year
                </option>

            </select>
        </div>

        <div class="col-md-4">
            <select name="order" class="form-control">

                <option value="asc">
                    Ascending
                </option>

                <option value="desc">
                    Descending
                </option>

            </select>
        </div>

        <div class="col-md-4">
            <button type="submit"
                    class="btn btn-success">
                Apply Sorting
            </button>
        </div>

    </div>

</form>
<div class="row mb-3">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>Total Books</h5>
                <h2>{{ total_books }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>Total Inventory</h5>
                <h2>{{ total_quantity }}</h2>
            </div>
        </div>
    </div>

</div>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Sr No</th>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Published Year</th>
            <th>Actions</th>
</tr>
    </thead>

    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.quantity }}</td>
            <td>{{ book.published_year }}</td>

            <td>
                <a href="/books/edit/{{ book.id }}"
                   class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="{{ url_for('delete_book_page', id=book.id) }}"
                    class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this book?')">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<div class="mt-3">

    {% if pagination.has_prev %}
        <a href="{{ url_for('books_page',
                            page=pagination.prev_num) }}"
           class="btn btn-secondary">
            Previous
        </a>
    {% endif %}

    <span class="mx-3">
        Page {{ pagination.page }}
        of
        {{ pagination.pages }}
    </span>

    {% if pagination.has_next %}
        <a href="{{ url_for('books_page',
                            page=pagination.next_num) }}"
           class="btn btn-secondary">
            Next
        </a>
    {% endif %}

</div>

{% endblock %}